# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/

# Output files
*.png
*.pdf
*.log

# Exclude specific file
!it-thesis-qc.pdf
!it-slides-qc.pdf
